{{^hasChilds}}
<div class="{{size}}">
    <label class="m-checkbox m-checkbox--bold">
    <input type="checkbox" id="{{route}}" name="permisos[{{index}}][permit]">
    <input type="hidden" name="permisos[{{index}}][id]" value="{{id}}">
    
    {{ title }}  
    <span></span>
</label>
    <div class="access-panel">
        <i class="la la-lock" data-for="NaN"> Click para asignar nivel de acceso</i>
        <i class="la la-eye" title="Lectura" data-for="R"></i>
        <i class="la la-plus" title="Crear" data-for="C"></i>
        <i class="la la-edit" title="Actualizar" data-for="U"></i>
        <i class="la la-times" title="Eliminar" data-for="D"></i>
        <input type="hidden" id="R" name="permisos[{{index}}][R]" value="false">
        <input type="hidden" id="C" name="permisos[{{index}}][C]" value="false">
        <input type="hidden" id="U" name="permisos[{{index}}][U]" value="false">
        <input type="hidden" id="D" name="permisos[{{newIndex}}][D]" value="false">
    </div>
</div>
{{/hasChilds}} {{#childs}} {{> child}} {{/childs}}